<div class="list-group-item d-flex justify-content-between">
    <div class="row g-8 align-items-center w-100">
        <div class="col-auto">
            <div class="position-relative">
                <img class="of-contain wh-40" src="@@img" alt="@@label">
                @@if(context.state=='success'){
                <span class="position-absolute bottom-0 end-0 rounded-circle bg-white lh-1">
                    <i class="bi bi-check-circle-fill text-success"></i>
                </span>
                }
            </div>
        </div>
        <div class="col">
            <div class="d-flex align-items-center h-row-2">
                <div class="w-100 text-dark text-row-2">@@label</div>
            </div>
            @@if(context.state=='new'){
            <span class="position-absolute top-0 end-0 mt-4 me-4 p-4 bg-primary border border-light rounded-circle">
                <span class="visually-hidden">New</span>
            </span>
            }
        </div>
    </div>
</div>