body {
    &.scroll-hidden {
        overflow: hidden;
    }
}

a {
    &:hover {
        img {
            @include transition(all 0.2s ease);
            opacity: .8 !important;
        }
    }
}
.container {
    position: relative;
}

#footer {
    letter-spacing: 0.7rem;
}