@charset "utf-8";

$path-ui:       "../img/ui/";
$path-uploads:  "../img/uploads/";

$color-facebook:  #3b5998;
$color-google:    #db3236;
$color-line:      #3ace01;
$color-youtube:   #c4302b ;

$cr-ci-normal:    #0066b3;
$cr-ci-dark:      #0b5981; //sitemap
$cr-ci-darker:    #003952; //copyright
$cr-helpler:      #088df2;
$cr-chat:         #0d67e3;

/* Icon */
$icon-caret-up:   '\f0d8';
$icon-caret-down: '\f0d7';

$hamburger-menu-size: 40px;