<header class="sticky-top bg-white shadow" id="header">
    <div class="container-xl px-0 px-xl-12 py-0 py-xl-8">
        <nav class="navbar navbar-expand-xl p-0">
            <a class="navbar-brand ms-12 ms-xl-0" title="DW19" href="index.html">
                <img src="assets/img/ui/logo.svg" alt="DW19">
            </a>
            <a class="navbar-toggler hamburger-menu btn-mobile-menu px-0 me-12 me-xl-0" data-bs-toggle="collapse" data-bs-target="#navbarNav" href="javascript:void();">
                <span></span>
            </a>
            <div class="collapse navbar-collapse pt-4 pt-xl-0" id="navbarNav">
                <div class="nav-main w-100 d-flex align-items-xl-center justify-content-xl-between bg-white">
                    <ul class="navbar-nav me-xl-auto">
                        @@if(context.state=='login'){
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center position-relative" href="#benefit">
                                DW19 Membership Benefit
                            </a>
                        </li>
                        }
                        @@if(context.state=='logged'){
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link p-16 text-center dropdown-toggle position-relative" href="#" data-bs-toggle="dropdown">
                                    Mission
                                    <span class="position-absolute top-0 end-0 mt-4 mt-xl-0 me-4 badge text-bg-danger rounded-pill">99+</span>
                                </a>
                                <div class="dropdown-menu shadow" style="min-width: 360px;">
                                    <div class="d-flex align-items-center justify-content-between px-16 py-4">
                                        <div class="h5 m-0">Notification</div>
                                        <a class="btn btn-sm btn-outline-primary rounded" href="#">Mark all as read</a>
                                    </div>
                                    <hr class="dropdown-divider mb-0">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item bg-primary-normal text-center text-white">
                                            <i class="bi bi-house me-4"></i> Go to Mission Center
                                        </a>
                                        @@loop('../unit/_notification-item.html', [
                                            {
                                                state:'new',
                                                img:'https://via.placeholder.com/180x70/fc0',
                                                label:'Your mission #1 Almost expire within 2 days Almost expire within 2 days',
                                            },
                                            {
                                                state:'new',
                                                img:'assets/img/uploads/img-mission-03.png',
                                                label:'New Mission For you!',
                                            },
                                            {
                                                state:'success',
                                                img:'https://via.placeholder.com/360x360/c00',
                                                label:'Congratulations! Mission #2 Completed',
                                            },
                                            {
                                                state:'success',
                                                img:'assets/img/uploads/badge-02.png',
                                                label:'Congratulations!',
                                            },
                                        ])
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center btn-anchor" href="#activity">
                                Promotion
                            </a>
                        </li>
                        @@if(context.state=='logged'){
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center" href="classroom-list.html">
                                News & Announvement
                            </a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center" href="classroom-list.html">
                                Learn about DW
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center" href="gift-list.html">
                                Check Gift
                            </a>
                        </li>
                        @@if(context.state=='login'){
                        <li class="nav-item">
                            <a class="nav-link p-16 text-center" href="javscript:void();" data-bs-toggle="modal" data-bs-target="#modalExamQuiz">
                                Quiz
                            </a>
                        </li>
                        }
                    </ul>
                    <div class="row gx-8 gy-8 gy-xl-0 mt-auto pb-100 pb-xl-0 px-12 px-xl-0">
                        @@if(context.state=='login'){
                        <div class="col-12 col-xl-6">
                            <a class="btn btn-primary w-100 text-uppercase text-white fw-bold p-24 rounded" href="javscript:void();" data-bs-toggle="modal" data-bs-target="#modalJoin">
                                Join
                            </a>
                        </div>
                        <!-- <div class="col-12 col-xl-6">
                            <a class="btn btn-primary w-100 text-uppercase text-white fw-bold p-24 rounded" href="regist.html">
                                Join
                            </a>
                        </div> -->
                        <div class="col-12 col-xl-6">
                            <a class="btn btn-primary w-100 text-uppercase text-white fw-bold p-24 rounded" href="login.html">
                                Login
                            </a>
                        </div>
                        }
                        @@if(context.state=='logged'){
                        <div class="col-12 col-xl-6">
                            <div class="d-flex align-items-center justify-content-center border rounded h-100 px-24 py-12">
                                <div class="flex-shrink-0">
                                    <img class="of-cover border rounded-circle wh-40" src="https://via.placeholder.com/80x80" alt="abcdefghijk">
                                </div>
                                <div class="flex-grow-1 ms-12">
                                    <div class="text-nowrap overflow-hidden">abcdefghijk</div>
                                    <div class="text-secondary text-nowrap fs-small">
                                        <span class="badge text-bg-dark rounded-circle">P</span>
                                        <small>Total 75335</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <a class="btn btn-primary w-100 text-uppercase text-white fw-bold px-24 py-12 rounded" href="javscript:void();" data-bs-toggle="modal" data-bs-target="#modalUnlock">
                                Upload & <br>Earn Point
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
