<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="zh-TW">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <meta name="keywords" content=""/>
        <meta name="description" content="">
        <meta property="og:image" itemprop="image" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="金門酒廠" />
        @@if(context.title!="" && context.title){
        <title>@@title | 金門酒廠</title>
        }
        @@if(context.title=="" || !context.title){
        <title>金門酒廠</title>
        }
        <!-- Global -->
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>