<div class="modal fade" id="@@id" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">
            @@include('unit/_modal-header.html',{
                title:'Please double check if it is correct!'
            })
            <div class="modal-body py-40">
                <div class="row gy-20">
                    <div class="col-5 text-secondary">Gift Name</div>
                    <div class="col-7 fw-bold">Apple Watch Series 7</div>
                    <div class="col-5 text-secondary">Spec</div>
                    <div class="col-7 fw-bold">Midnight</div>
                    <div class="col-5 text-secondary">Quantity</div>
                    <div class="col-7 fw-bold">1</div>
                    <div class="col-5 text-secondary">Cost Points</div>
                    <div class="col-7 fw-bold">64,000 pts</div>
                    <div class="col-5 text-secondary">Cremaining Points</div>
                    <div class="col-7 fw-bold">35,000 pts</div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                @@include('../comp/_btn-group.html',{
                    col:'-12', colLg:'-6',
                    group: {
                        item: [
                            {btnStyle:'outline-secondary', btnHref:'javascript:void();', btnLabel:'Cancel', dismiss:'true',},
                            {btnStyle:'primary', btnColor:'white', btnHref:'javascript:void();', btnLabel:'Confirm', target:'modalGiftDone',},
                        ],
                    },
                })
            </div>
        </div>
    </div>
</div>