<div class="modal fade" id="modalMission" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header align-items-start shadow">
                <div class="w-100">
                    <div class="row gx-12 gy-24 align-items-center">
                        <div class="col-4 col-lg-3 d-none d-lg-flex">
                            <img class="of-contain h-120 mx-auto" src="assets/img/uploads/img-act-02.jpg" alt="Send Your Name to Space">
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="h5 text-row-1 mb-4">
                                Send Your Name to Space
                            </div>
                            <div class="text-secondary text-row-2">
                                Mission description Lorem Mission description Mission description Mission description
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="progress position-relative rounded my-8" style="height: 16px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                            <div class="position-absolute w-100 d-flex justify-content-center">
                                                <div class="text-dark">10 / 100 pts</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress position-relative rounded my-8" style="height: 16px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            <div class="position-absolute w-100 d-flex justify-content-center">
                                                X2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <div class="fs-small">
                                            <small>
                                                <div class="d-inline">Expire in <span class="text-danger">22</span> days</div>
                                                <div class="d-inline">|</div>
                                                <div class="d-inline">Until <span class="text-danger">30/09/2022</span></div>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto d-none d-md-flex">
                                    <a class="btn btn-primary text-uppercase text-white fw-bold p-12 rounded" href="upload-file.html">
                                        Go To <br>Upload
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-40">
                <ul class="list-group">
                    @@loop('unit/_mission-item.html', [
                        {
                            state:'process',
                            title:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
                            value:'(18,000/29,000)',
                            pts:'100 pts'
                        },
                        {
                            state:'process',
                            title:'Lorem ipsum dolor sit amet, consectetur',
                            value:'(34,000/50,000)',
                            pts:'150 pts'
                        },
                        {
                            state:'success',
                            title:'Accumulate buy DW19 for 50,000 Volume',
                            value:'(5,000/5,000)',
                            pts:'50 pts'
                        },
                        {
                            state:'success',
                            title:'Accumulate buy DW19 for 50,000 Volume',
                            value:'(5,000/5,000)',
                            pts:'50 pts'
                        },
                        {
                            state:'bonus',
                            title:'Buy DW19 more than 50,000 within September gain point X1.5',
                            pts:'X 1.5'
                        },
                    ])
                </ul>
                <div class="mt-40">
                    @@include('../unit/_title-h5.html',{
                        title:'Description',
                    })
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi quis eleifend quam adipiscing vitae proin. Tristique senectus et netus et malesuada fames. Adipiscing elit ut aliquam purus sit amet luctus venenatis. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Mi sit amet mauris commodo quis imperdiet massa tincidunt. Dictum at tempor commodo ullamcorper. Dolor morbi non arcu risus quis. Tortor dignissim convallis aenean et tortor at risus viverra. Lectus sit amet est placerat in. Faucibus turpis in eu mi bibendum. Lectus nulla at volutpat diam ut. Vivamus at augue eget arcu dictum varius duis at. Laoreet id donec ultrices tincidunt arcu non.
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center d-block d-md-none">
                @@include('../comp/_btn-group.html',{
                    col:'-12', colLg:'-6',
                    group: {
                        item: [
                            {btnStyle:'primary', btnColor:'white', rounded:true, btnHref:'upload-file.html', btnLabel:'Go To Upload',},
                        ],
                    },
                })
            </div>
        </div>
    </div>
</div>