<div class="section-copyright">
    <div class="container py-32 text-white">
        <div class="row align-items-center">
            <div class="col-12 col-lg text-center text-lg-start">
                <div class="fs-small">
                    Copyright &copy; 2022 DW19 All Rights Reserved.
                </div>
            </div>
            <div class="col-12 col-lg my-12 my-lg-0">
                <nav class="nav justify-content-center justify-content-lg-end">
                    <a class="nav-link text-white fs-small px-8 px-lg-12" href="#">Policy Privacy</a>
                    <a class="nav-link text-white fs-small px-8 px-lg-12" href="#">Term & Conditions</a>
                    <a class="nav-link text-white fs-small px-8 px-lg-12" href="#">Disclaimer</a>
                </nav>
            </div>
            <div class="col-12 col-lg-auto text-end">
                <nav class="nav align-items-center justify-content-center justify-content-lg-end">
                    <a class="mx-12 text-white" href="#">
                        <i class="bi bi-facebook h2"></i>
                    </a>
                    <a class="mx-12 text-white" href="#">
                        <i class="bi bi-line h2"></i>
                    </a>
                    <div class="dropdown ms-12">
                        <a class="btn btn-link bg-white text-dark text-decoration-none dropdown-toggle text-uppercase" href="javascript:void();" id="dpCountry" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-flag me-8" src="assets/img/ui/flags/tw.svg" alt="Taiwan">
                            Taiwan
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dpCountry">
                            <li>
                                <a class="dropdown-item text-uppercase" href="#">
                                    <img class="img-flag me-8" src="assets/img/ui/flags/us.svg" alt="English">
                                    English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-uppercase" href="#">
                                    <img class="img-flag me-8" src="assets/img/ui/flags/th.svg" alt="Thailand">
                                    Thailand
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>