@@for (var i = 0; i < group.item.length; i++) {
    @@include('../unit/_form-item.html', `+(JSON.stringify(group.item[i]))+`)
}
@@if(context.tip===true){
    <ul class="mb-0 ps-28 text-secondary fs-small">
        @@for (var i = 0; i < group.tip.length; i++) {
            @@include('../unit/_form-tip.html', `+(JSON.stringify(group.tip[i]))+`)
        }
    </ul>
}
@@if(context.password===true){
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkRemember">
                <label class="form-check-label" for="checkRemember">
                    Remember me
                </label>
            </div>
            <a href="#">Forgot password?</a>
        </div>
    </div>
}