<nav class="d-flex justify-content-center">
    <ul class="pagination bg-gray-200">
        <li class="page-item p-4">
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-bar-left"></i></span>
            </a>
        </li>
        <li class="page-item p-4">
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a>
        </li>
        <li class="page-item p-4"><a class="page-link active" href="#">1</a></li>
        <li class="page-item p-4"><a class="page-link" href="#">2</a></li>
        <li class="page-item p-4"><a class="page-link" href="#">3</a></li>
        <li class="page-item p-4"><a class="page-link" href="#">4</a></li>
        <li class="page-item p-4"><a class="page-link" href="#">5</a></li>
        <li class="page-item p-4">
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a>
        </li>
        <li class="page-item p-4">
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-bar-right"></i></span>
            </a>
        </li>
    </ul>
</nav>