<div class="position-fixed bottom-0 end-0 z-100 d-none d-lg-block me-16 mb-16" id="quicknav">
    <div class="btn-group-vertical gap-8">
        <a class="p-8 border-0 bg-white text-center rounded-circle shadow" href="#">
            <div class="text-center h2 text-facebook lh-1 m-0">
                <i class="bi bi-messenger"></i>
            </div>
        </a>
        <a class="p-8 border-0 bg-white text-center rounded-circle shadow" href="#">
            <div class="text-center h2 text-line lh-1 m-0">
                <i class="bi bi-line"></i>
            </div>
        </a>
    </div>
</div>