<div class="section-sitemap">
    <div class="container py-48 py-lg-80">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row">
                    <div class="col-6 col-lg">
                        <div class="mb-8">
                            <div class="lead fw-bold text-white">DW19 Membership</div>
                        </div>
                        <nav class="nav flex-column">
                            <a class="nav-link fs-small text-white px-0" href="#">Promotion & Activity</a>
                            <a class="nav-link fs-small text-white px-0" href="#">News & Announcement</a>
                            <a class="nav-link fs-small text-white px-0" href="#">Gift Center</a>
                            <a class="nav-link fs-small text-white px-0" href="#">Mission</a>
                        </nav>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="mb-8">
                            <div class="lead fw-bold text-white">About Us</div>
                        </div>
                        <nav class="nav flex-column">
                            <a class="nav-link fs-small text-white px-0" href="#">About DW19</a>
                            <a class="nav-link fs-small text-white px-0" href="#">DW19 Membership Benefit</a>
                        </nav>
                    </div>
                    <div class="col-6 col-lg mt-20 mt-lg-0">
                        <div class="mb-8">
                            <div class="lead fw-bold text-white">Get Help</div>
                        </div>
                        <nav class="nav flex-column">
                            <a class="nav-link fs-small text-white px-0" href="classroom-list.html">Learn about DW</a>
                            <a class="nav-link fs-small text-white px-0" href="faq.html">FAQ</a>
                        </nav>
                    </div>
                    <div class="col-12 col-lg-4 mt-20 mt-lg-0">
                        <div class="h3 text-white text-uppercase">DW19 Contact</div>
                        <div class="h5 text-white">02 009 8710</div>
                        <a class="text-white d-flex align-items-center" href="mailto:dw19@yuanta.co.th">
                            <i class="bi bi-envelope-fill h4 me-8 m-0"></i>
                            dw19@yuanta.co.th
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>