.btn-outline-primary {
    --bs-btn-color: #{$primary};
    --bs-btn-hover-color: #{$white};
    --bs-btn-active-color: #{$white};
}
.btn-bd-white-lg {
    --bs-btn-padding-x: #{$spacer * 2};
    --bs-btn-padding-y: #{$spacer * 1};
    --bs-btn-font-size: #{$h4-font-size};
    --bs-btn-font-weight: 700;
    --bs-btn-color: #{shade-color($primary, 30%)};
    --bs-btn-bg: var(--bs-white);
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-hover-bg: #{shade-color($white, 15%)};
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-border-width: 0;
}
.btn-point {
    --bs-btn-color: #{$gray-600};
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-btn-color);
    // --bs-btn-hover-color: #{$primary};
    // --bs-btn-hover-color: var(--bs-btn-hover-color);
    // --bs-btn-hover-border-color: var(--bs-btn-hover-color);
    --bs-btn-active-color: #{shade-color($primary, 20%)};
    --bs-btn-active-bg: #{$blue-100};
    --bs-btn-border-width: 1px;
}
.btn-join {
    background-color: $cr-ci-normal;
    &:hover,
    &:focus {
        background-color: $cr-ci-dark;
    }
}
.btn-hover-shadow {
    @include transition(all .5s ease);
    &:hover,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba($black, .15);
        box-shdow: $box-shadow;
    }
}
// styling of hamburger menu
.hamburger-menu {
    position: relative;
	width: $hamburger-menu-size;
	height: $hamburger-menu-size;
    border: 0;
    span {
        margin: 0 auto;
        position: relative;
        top: 14px;
        transition-duration:0s;
        transition-delay:0.2s;
        &:before,
        &:after {
            position: absolute;
            content: '';
            transition-property:margin, transform;
            transition-duration:0.2s;
            transition-delay:0.2s, 0s;
        }
        &:before {
            margin-top: -12px;
        }
        &:after {
            margin-top: 12px;
        }
    }
    span,
    span:before,
    span:after {
        width: $hamburger-menu-size;
        height: 4px;
        background-color: $dark;
        display: block;
    }
    &.active {
        span {
            background-color: rgba($black,0);
            transition-delay:0.2s;
            &:before,
            &:after {
                margin-top: 0;
                transition-delay:0s, 0.2s;
            }
            &:before {
                transform:rotate(45deg);
            }
            &:after {
                transform:rotate(-45deg);
            }
        }
    }
}

.btn-facebook {
    background-color: $color-facebook;
    &:hover,
    &:focus {
        background-color: darken($color-facebook,10%);
    }
}
.btn-google {
    background-color: $color-google;
    &:hover,
    &:focus {
        background-color: darken($color-google,10%);
    }
}
:target {
    display: block;
    position: relative;
    top: -60px; 
    visibility: hidden;
}
.btn-class {
    background: url(#{$path-ui}bg-class.png) center no-repeat;
    background-size: contain;
    a {
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
}