.btn-outline-secondary {
    border-color: $gray-500;
    color: $gray-500;
    &:hover {
        border-color: $black;
        color: $black;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
    &:focus,
    &:active {
        border-color: $primary;
        background-color: $primary;
        color: $white;
    }
}
.btn-outline-dark {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}