.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}
$select-bg: #fc0;
$select-text: #333;

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
#birthdate {
    background: url(#{$path-ui}ico-calendar.svg) no-repeat 99% center;
    background-size: auto;
}
.input-error {
    border-color: $danger;
    &::placeholder {
        color: $danger;
    }
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}
.alert-validate {
    color: $danger;
    .form-control,
    .form-check-input {
        border-color: $danger;
        &::placeholder {
            color: $danger;
        }
    }
}
