.bg-admin {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-regist {
    background-image: url(#{$path-ui}bg-header-regist.png)
}
.bg-login {
    background-image: url(#{$path-ui}bg-header-login.png)
}
.bg-congrats {
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(#{$path-ui}bg-congrats.png);
}
.bg-primary-o10 {
    background-color: rgba($primary,0.1);
}
.bg-primary-normal {
    background-color: $cr-ci-normal;
}
.bg-gray-200 {
    background-color: $gray-200;
}