<li class="list-group-item p-8 @@if(context.state=='success'){list-group-item-success}">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg">
                    <div class="row gx-8">
                        <div class="col-auto order-2 order-lg-0">
                            @@if(context.state=='success'){
                            <i class="bi bi-check-circle-fill text-success"></i>
                            }
                            @@if(context.state=='process'){
                            <i class="bi bi-clock text-secondary"></i>
                            }
                            @@if(context.state=='bonus'){
                            <i class="bi bi-gift text-secondary"></i>
                            }
                        </div>
                        <div class="col">
                        @@if(context.state=='process' || context.state=='bonus'){
                            @@title
                        }
                        @@if(context.state=='success'){
                            <del>@@title</del>
                        }
                        </div>
                    </div>
                </div>
                @@if(context.value){
                <div class="col-12 col-lg-auto my-8 my-lg-0 text-center">
                    <div class="fs-small text-secondary">@@value</div>    
                </div>
                }
            </div>
            
        </div>
        <div class="col-6 col-lg-2">
            <div class="bg-light border rounded text-center">@@pts</div>
        </div>
    </div>
</li>